<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>五角星</title>
    <style type="text/css">
        #canvas{
            border: 1px #e2e2e2 solid; margin: 10px auto; display: block;
        }
    </style>
    <script type="text/javascript">

        window.onload = function(){
            console.log('start log...');

            var canvas = document.getElementById('canvas');
            canvas.width = 800;
            canvas.height = 800;

            var context = canvas.getContext('2d');
            
        }
    </script>
</head>
<body>
    <canvas id="canvas" width="1024" height="768">你当前的浏览器不支持canvas，请更换浏览器后再打开页面</canvas>
</body>
</html>