<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全局透明</title>
    <style type="text/css">
        #canvas{
            border: 1px #e2e2e2 solid; margin: 10px auto; display: block;
        }
    </style>
    <script type="text/javascript">

        window.onload = function(){
            console.log('start log...');

            var canvas = document.getElementById('canvas');
            canvas.width = 1200;
            canvas.height = 800;

            var context = canvas.getContext('2d');
            context.globalAlpha = 0.5;

            for(var i = 0; i < 100; i++){
                var R = Math.floor(Math.random()*255);
                var G = Math.floor(Math.random()*255);
                var B = Math.floor(Math.random()*255);
                context.fillStyle = "rgb(" + R + "," + G + "," + B + ")";

                context.beginPath();
                context.arc(Math.random()*canvas.width, Math.random()*canvas.height, Math.random()*100, 0, Math.PI*2);
                context.fill();
            }
            
        }
    </script>
</head>
<body>
    <canvas id="canvas" width="1024" height="768">你当前的浏览器不支持canvas，请更换浏览器后再打开页面</canvas>
</body>
</html>