<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>圆角矩形</title>
    <style type="text/css">
        #canvas{
            border: 1px #e2e2e2 solid; margin: 10px auto; display: block;
        }
    </style>
    <script type="text/javascript">

        window.onload = function(){
            console.log('start log...');

            var canvas = document.getElementById('canvas');
            canvas.width = 800;
            canvas.height = 800;

            var context = canvas.getContext('2d');

            // 绘制矩形
            // var r = 50;
            // var marginLeft = 100, marginTop = 100;
            // var rw = 500, rh = 300;
            // context.beginPath();
            // context.arc(marginLeft + r, marginTop + r, r, Math.PI, 1.5*Math.PI);
            // context.lineTo(marginLeft + r + rw, marginTop);
            // context.arc(marginLeft + r + rw, marginTop + r, r, 1.5*Math.PI, 2*Math.PI);
            // context.lineTo(marginLeft + r + rw + r, marginTop + r + rh);
            // context.arc(marginLeft + r + rw, marginTop + r + rh, r, 0, 0.5*Math.PI);
            // context.lineTo(marginLeft + r, marginTop + r + rh + r);
            // context.arc(marginLeft + r, marginTop + r + rh, r, 0.5*Math.PI, Math.PI);
            // context.closePath();
            // context.strokeStyle = "#000";
            // context.lineWidth = 2;
            // context.stroke();

            // drawRoundRect(context, 100, 100, 600, 400, 50);

            fillRoundRect(context, 150, 150, 500, 500, 10, "#bbada0");
            for(var i = 0; i < 4; i++){
                for(var j = 0; j < 4; j++){
                    fillRoundRect(context, 170 + i*120, 172 + j*120, 100, 100, 6, "#ccc0b3");
                }
            }
        }

        // 绘制圆角矩形
        function strokeRoundRect(ctx, x, y, width, height, radius, lineWidth, strokeStyle){
            if(2*radius > width || 2*radius > height){
                return;
            }
            ctx.save();
            ctx.translate(x, y);
            pathRoundRect(ctx, width, height, radius);
            ctx.lineWidth = lineWidth || 1;
            ctx.strokeStyle = strokeStyle || "#000";
            ctx.stroke();
            ctx.restore();
        }

        // 填充圆角矩形
        function fillRoundRect(ctx, x, y, width, height, radius, fillColor){
            if(2*radius > width || 2*radius > height){
                return;
            }
            ctx.save();
            ctx.translate(x, y);
            pathRoundRect(ctx, width, height, radius);
            ctx.fillStyle = fillColor || "#aaa";
            ctx.fill();
            ctx.restore();
        }

        // 设置圆角矩形状态
        function pathRoundRect(ctx, width, height, radius){
            ctx.beginPath();
            ctx.arc(radius, radius, radius, Math.PI, 1.5*Math.PI);
            ctx.lineTo(width - radius, 0);
            ctx.arc(width - radius, radius, radius, 1.5*Math.PI, 2*Math.PI);
            ctx.lineTo(width, height - radius);
            ctx.arc(width - radius, height - radius, radius, 0, 0.5*Math.PI);
            ctx.lineTo(radius, height);
            ctx.arc(radius, height - radius, radius, 0.5*Math.PI, Math.PI);
            ctx.closePath();
        }
    </script>
</head>
<body>
    <canvas id="canvas" width="1024" height="768">你当前的浏览器不支持canvas，请更换浏览器后再打开页面</canvas>
</body>
</html>