<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tiny.css">
    <title>tinyHeart</title>
    <script src="/js/tinyHeart/tools.js"></script>
    <script src="/js/tinyHeart/main.js"></script>
    <script src="/js/tinyHeart/background.js"></script>
    <script src="/js/tinyHeart/fruit.js"></script>
    <script src="/js/tinyHeart/bigFish.js"></script>
    <script src="/js/tinyHeart/babyFish.js"></script>
    <script src="/js/tinyHeart/wave.js"></script>
    <script src="/js/tinyHeart/dust.js"></script>
    <script src="/js/tinyHeart/collision.js"></script>
    <script src="/js/tinyHeart/data.js"></script>
    <script src="/js/tinyHeart/controller.js"></script>
</head>
<body>
    <div id="canvas-wapper">
        <div id="canvas-box">
            <canvas id="mainCanvas"></canvas>
            <canvas id="bgCanvas"></canvas>
            <div id="controller">
                <div id="scoreDiv">最高分：<span id="score">0</span></div>
                <button id="ctrlBtn" onclick="startGame()">start</button>
            </div>
            <div id="play">
                <button id="playBtn" onclick="stopGame()"></button>
            </div>
        </div>
    </div>
</body>
</html>