<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/five.css">
    <script type="text/javascript" src="/js/five/main.js"></script>
</head>
<body>
    <div class="canvas-wrapper">
        <div class="title">五子棋</div>
        <canvas id="canvas">no canvas</canvas>
        <div class="control-wrapper hide">
            <div class="tip">you win!</div>
            <button class="reset">restart</button>
        </div>
    </div>
</body>
</html>