<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>context扩展</title>
    <style type="text/css">
        #canvas{
            border: 1px #e2e2e2 solid; margin: 10px auto; display: block;
        }
    </style>
    <script type="text/javascript">

        window.onload = function(){
            console.log('start log...');
            var canvas = document.getElementById('canvas');
            canvas.width = 800;
            canvas.height = 800;
            var context = canvas.getContext('2d');

            // 复写方法
            // CanvasRenderingContext2D.prototype.fillStar = function (r, R, x, y, rot){
            //     this.beginPath();
            //     for(var i = 0;i < 5; i++){
            //         // 角度是18 + i*72，javasript是使用弧度制，因此值是(18 + i*72)/180*Math.PI
            //         // console.log(Math.cos((18 + i*72 - rot)/180*Math.PI)*R + x + ":" + -Math.sin((18 + i*72)/180*Math.PI)*R + y);
            //         // console.log(Math.cos((54 + i*72 - rot)/180*Math.PI)*r + x + ":" + -Math.sin((54 + i*72)/180*Math.PI)*r + y)
            //         this.lineTo(Math.cos((18 + i*72 - rot)/180*Math.PI)*R + x, 
            //                         -Math.sin((18 + i*72 - rot)/180*Math.PI)*R + y); 
            //         this.lineTo(Math.cos((54 + i*72)/180*Math.PI)*r + x, 
            //                         -Math.sin((54 + i*72)/180*Math.PI)*r + y);
            //     }
            //     this.closePath();
            //     this.fill();
            // }   

            // context.fillStyle = "#058";
            // context.fillStar(150, 300, 400, 400, 0);

            var originalMoveTo = CanvasRenderingContext2D.prototype.moveTo;
            CanvasRenderingContext2D.prototype.lastMoveToLoc = {};
            CanvasRenderingContext2D.prototype.moveTo = function(x, y){
                originalMoveTo.apply(this, [x, y]);
                this.lastMoveToLoc.x = x;
                this.lastMoveToLoc.y = y;
            }

            CanvasRenderingContext2D.prototype.fillStar = function(r, R, rot){
                this.beginPath();
                for(var i = 0;i < 5; i++){
                    // 角度是18 + i*72，javasript是使用弧度制，因此值是(18 + i*72)/180*Math.PI
                    // console.log(Math.cos((18 + i*72 - rot)/180*Math.PI)*R + x + ":" + -Math.sin((18 + i*72)/180*Math.PI)*R + y);
                    // console.log(Math.cos((54 + i*72 - rot)/180*Math.PI)*r + x + ":" + -Math.sin((54 + i*72)/180*Math.PI)*r + y)
                    this.lineTo(Math.cos((18 + i*72 - rot)/180*Math.PI)*R + this.lastMoveToLoc.x, 
                                    -Math.sin((18 + i*72 - rot)/180*Math.PI)*R + this.lastMoveToLoc.y); 
                    this.lineTo(Math.cos((54 + i*72)/180*Math.PI)*r + this.lastMoveToLoc.x, 
                                    -Math.sin((54 + i*72)/180*Math.PI)*r + this.lastMoveToLoc.y);
                }
                this.closePath();
                this.fill();
            }

            context.fillStyle = "#058";
            context.moveTo(400, 400);
            context.fillStar(150, 300, 0);
        }
    </script>
</head>
<body>
    <canvas id="canvas" width="1024" height="768">你当前的浏览器不支持canvas，请更换浏览器后再打开页面</canvas>
</body>
</html>