<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= name %>-index</title>
  <link rel="stylesheet" href="/css/index.css">
  <script type="text/javascript" src="/js/index.js"></script
</head>
<body>
  <h2>this is a <%= name %> index page</h2>

  <div id="mess">正在连接...</div>

  <div class="kuang">
    <div class="value" id="value1">html content1</div>
    <div class="value" id="value2">html content2</div>
    <div class="value" id="value3">html content3</div>
  </div>

</body>
</html>